<h3>
  PokeQL: A Pokemon API using GraphQL
</h3>

<div class="query-sandbox">
  <%= link_to "Query Tester", graphiql_rails_url %>
</div>

<div>
  Requests should be made using <%= Rails.application.config.url %>/v1
</div>

<div class="notice">
  This API is in beta so endpoints may be changed without notice.
</div>

<%= render "static_page/whos_that_pokemon", pokemon: random_from_date %>

<div>
  <div>
    Data sourced from <%= link_to "pokeapi.co", "//pokeapi.co" %>
  </div>

  <div>
    PokeQL is in no way affiliated or endorsed by PokeAPI.
  </div>
</div>

<div class="signature">
  Built by <%= link_to "Josh Dunn", "//github.com/joshddunn" %>
</div>
